body {
    font-size: .875rem;
    background-color: aliceblue;
    
}
  
.feather {
  width: 16px;
  height: 16px;
}

/*
 * Sidebar
 */
  
.sidebar {
  position: fixed;
  top: 0;
  /* rtl:raw:
  right: 0;
  */
  bottom: 0;
  /* rtl:remove */
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 48px 0 0; /* Height of navbar */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}
  
@media (max-width: 767.98px) {
  .sidebar {
    top: 5rem;
  }
}
  
.sidebar-sticky {
  height: calc(100vh - 48px);
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}
  
.sidebar .nav-link {
  font-weight: 500;
  color: #333;
}
  
.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #727272;
}
  
.sidebar .nav-link.active {
  color: #2470dc;
}
  
.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}
  
.sidebar-heading {
  font-size: .75rem;
}
/*
 * Navbar
 */
  
.navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
  background-color: rgba(0, 0, 0, .25);
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}
  
.navbar .navbar-toggler {
  top: .25rem;
  right: 1rem;
}
  
.navbar .form-control {
  padding: .75rem 1rem;
}
  
.form-control-dark {
  color: #fff;
  background-color: rgba(255, 255, 255, .1);
  border-color: rgba(255, 255, 255, .1);
}
  
.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}
  
.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.b-example-divider {
  width: 100%;
  height: 3rem;
  background-color: rgba(0, 0, 0, .1);
  border: solid rgba(0, 0, 0, .15);
  border-width: 1px 0;
  box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.b-example-vr {
  flex-shrink: 0;
  width: 1.5rem;
  height: 100vh;
}

.bi {
  vertical-align: -.125em;
  fill: currentColor;
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.btn-bd-primary {
  --bd-violet-bg: #712cf9;
  --bd-violet-rgb: 112.520718, 44.062154, 249.437846;
  --bs-btn-font-weight: 600;
  --bs-btn-color: var(--bs-white);
  --bs-btn-bg: var(--bd-violet-bg);
  --bs-btn-border-color: var(--bd-violet-bg);
  --bs-btn-hover-color: var(--bs-white);
  --bs-btn-hover-bg: #6528e0;
  --bs-btn-hover-border-color: #6528e0;
  --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
  --bs-btn-active-color: var(--bs-btn-hover-color);
  --bs-btn-active-bg: #5a23c8;
  --bs-btn-active-border-color: #5a23c8;
}
.bd-mode-toggle {
  z-index: 1500;
}

h1 {
    text-align: center;
    text-transform: uppercase;
    padding: 10px;
    background-color: rgb(12, 42, 66);
    color: aliceblue;
}

h5 {
    text-align: center;
    font-size: 18px;
    padding: 30px;
}


/*
 * Calculadora
 */

.contenedor-calculadora{
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  position: relative;
  max-width: 300px;
  width: 100%;
  border-radius: 12px;
  padding: 10px 20px 20px;
  background: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
}

.display-calculadora {
  height: 80px;
  width: 100%;
  outline: none;
  border: none;
  text-align: right;
  margin-bottom: 10px;
  font-size: 25px;
  color: #000e1a;
  pointer-events: none;
}
.buttons {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(4, 1fr);
}
.buttons button {
  padding: 10px;
  border-radius: 6px;
  border: none;
  font-size: 20px;
  cursor: pointer;
  background-color: #eee;
}
.buttons button:active {
  transform: scale(0.99);
}
.operador {
  color: #3300ff;
}

/*
 * Adivinanza
 */
.contenedor-adivinanza {
  
  text-align: center;
  margin: 0 auto;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.contenedor-adivinanza p {
  font-size: 25px;
  display: block;
  margin-bottom: 10px;
  color: #333333;
}

.contenedor-adivinanza input[type="number"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #dddddd;
  border-radius: 5px;
  box-sizing: border-box;
}
.contenedor-adivinanza button {
  width: 50%;
  margin:auto;
  margin-top: 5px;
  display: block;
  padding: 10px;
  margin-top: 10px;
  background-color: #4caf50;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  max-width: 400px;
}

.contenedor-adivinanza button:hover {
  background-color: #45a049;
}

.contenedor-adivinanza #message {
  text-align: center;
  font-weight: bold;
  color: #ff0000;
}



 /*
  * Loteria
  */
.contenedor-loteria {
  
  margin: 0 auto;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.contenedor-loteria label {
  font-size: 25px;
  display: block;
  margin-bottom: 10px;
  color: #333333;
}

.contenedor-loteria input[type="text"] {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #cccccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.contenedor-loteria button {
  display: block;
  width: 50%;
  margin:auto;
  margin-top: 5px;
  padding: 10px;
  font-size: 16px;
  background-color: #4caf50;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.contenedor-loteria button:hover {
  background-color: #45a049;
}

.contenedor-loteria #result {
  margin-top: 20px;
  padding: 10px;
  font-size: 18px;
  background-color: #f2f2f2;
  border: 1px solid #cccccc;
  border-radius: 4px;
}



  
 /*
  * Lista
  */

.completa {
    text-decoration: line-through;
    color: rgb(30, 139, 255);
}

/* DATOS */
.cont-datos {
    background-color: rgb(12, 42, 66);
    display: flex;
    justify-content: center;
    padding: 15px;
    gap: 10px;
}

.cont-datos p {
    background-color: rgb(20, 32, 47);
    color: aliceblue;
    padding: 6px 10px;
    border-radius: 5px;
}

/* CONTENEDOR */
.cont {
    display: grid;
    grid-template-columns: 1fr 1fr; /* grid-template-columns: */
    margin: 15px;
}

.cont .cont-form {
    padding: 20px;
    margin: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: rgb(29, 11, 185);
    color: #fff;
    /*max-height: 110px;*/
}

.cont .cont-form input[type="text"] {
    border: none;
    padding: 8px;
}

.cont .cont-form input[type="text"]:focus {
    outline: none;
    border-bottom: 5px solid rgb(15, 31, 55);
    ;
}

.cont .cont-form input[type="submit"] {
    border: none;
    padding: 10px;
    background-color: rgb(9, 34, 69);
    color: #fff;
    cursor: pointer;
    margin: 10px 2px;

}

/* TAREAS */
.cont .cont-tareas {
    padding: 10px;
    margin: 10px;
    background-color: rgb(215, 236, 250);
}

.cont .item-tarea {
    display: flex;
    justify-content: space-between;
    background-color: #ffffff;
    padding: 10px;
    margin: 10px 2px;
}

.eliminar {
    border: none;
    background-color: rgb(255, 0, 89);
    color: #ffffff;
    border-radius: 5px;
    cursor: pointer;
    transition: transform ease 300ms;
    padding: 8px;
}

.eliminar:hover {
    transform: scale(1.3);
}

.completada {
    border: none;
    background-color: rgb(0, 136, 255);
    color: #ffffff;
    border-radius: 5px;
    cursor: pointer;
    transition: transform ease 300ms;
    padding: 8px;
}

.completada:hover {
    transform: scale(1.3);
}


@media (max-width: 600px) {
    .contenedor {
        display: grid;
        grid-template-columns: 1fr;
        margin: 15px;
    }
}

 /*
  * Verificador
  */

.contenedor-verificador {
  text-align: center;
  margin: 0 auto;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.contenedor-verificador label {
  font-size: 25px;
  display: block;
  margin-bottom: 10px;
  color: #333333;
}

.contenedor-verificador input[type="text"] {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #cccccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.contenedor-verificador button {
  width: 50%;
  margin:auto;
  margin-top: 5px;
  display: block;
  padding: 10px;
  font-size: 16px;
  background-color: #4caf50;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.contenedor-verificador button:hover {
  background-color: #45a049;
}

.contenedor-verificador #resultado {
  margin-top: 20px;
  padding: 10px;
  font-size: 18px;
  background-color: #f2f2f2;
  border: 1px solid #cccccc;
  border-radius: 4px;
}
